<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
		  name="QuanLyKhachSan"
		  connectionString="Data Source=LAPTOP-6UDNV190;Initial Catalog=QuanLyKhachSan;Integrated Security=True;TrustServerCertificate=True"
		  providerName="System.Data.SqlClient"
    />
	</connectionStrings>
</configuration>